.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
}

.inputWrapper {
  display: flex;
  width: 100%;
  position: relative;
}

.input {
  width: 100%;
  border: 1px solid var(--grey-500);
  color: var(--grey-500);
  padding: 8px 15px;
  border-radius: 8px;
  font-family: inherit;
  outline: none;
  box-sizing: border-box;
  padding-right: 34px;
}

.input:focus {
  border: 1px solid var(--cherryPieVariant);
}

.error {
  border: 1px solid var(--errorRed);
}
