.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
}

.inputWrapper {
  display: flex;
  width: 100%;
  position: relative;
  border: 1px solid var(--grey-500);
  border-radius: 8px;
}

.input {
  width: 100%;
  color: var(--grey-500);
  padding: 8px 15px;
  border-radius: 8px;
  border: 0;
  font-family: inherit;
  outline: none;
  box-sizing: border-box;
  background-color: transparent;
}

.input:not(:only-child) {
  border-radius: 8px 0px 0px 8px;
  padding-right: 0px;
}

.inputWrapper:focus-within {
  border: 1px solid var(--cherryPieVariant);
}

.error {
  border: 1px solid var(--errorRed);
}
