.container {
  width: 320px;
  max-width: 360px;
  max-width: min(100%, 360px);
  padding: 32px 16px;
  gap: 16px;
  border-radius: 8px;
  background-color: var(--GhostWhite);
  border: 1px solid var(--GhostWhiteVariant);
  box-shadow: 0px 4px 16px 0px #0000001f;
  margin: 0px;
  flex: 1 0 auto;
  align-self: flex-start;
}
