.popupImg {
  width: 100%;
  height: auto;
}

.enrolBtn {
  border: 2px solid;
  z-index: 1;
}

.enrolBtnContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  text-align: center;
  bottom: 50px;
  z-index: 99999;
}

.loader {
  background-color: transparent;
}
