.sortForm {
  display: flex;
  flex-direction: row;
  row-gap: 5px;
  margin: 0px;
}

.sortForm > * {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sortByDropdown::before {
  content: 'Sort By:';
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  left: 0px;
}

.sortByDropdown :global(.dropdown-input-wrapper) {
  padding-left: 40px;
}

.sortByDropdown [role='listbox'] {
  max-height: unset;
  width: 200px;
  right: 0;
}
