.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
}

.inputWrapper {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  color: var(--grey-500);
  font-family: inherit;
  height: auto;
  display: flex;
  border-radius: 8px;
  border: 1px solid var(--grey-500);
}

.inputWrapper[aria-disabled='true'] {
  background-color: rgba(239, 239, 239, 0.3);
  color: var(--grey-300);
  border-color: rgba(118, 118, 118, 0.3);
}

.pillAndInput {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex: 1;
  column-gap: 10px;
  max-width: calc(100% - 30px);
}

.pillAndInput.hasValue {
  padding-left: 15px;
}

.pillAndInput > [role='button'] {
  margin: 5px 0px 0px;
  align-self: flex-start;
}

.pillAndInput > [role='button']:nth-last-of-type(1) {
  margin-right: 5px;
}

.pillAndInput.hasValue > .input {
  margin-left: -15px;
}

.input {
  border: none;
  flex: 1;
  font-family: inherit;
  outline: none;
  padding: 8px 15px;
  max-width: 100%;
  border-radius: 8px;
  background-color: transparent;
}

.inputWrapper:focus-within {
  border: 1px solid var(--cherryPieVariant);
}

.error {
  border: 1px solid var(--errorRed);
}

.dropdownListContainer {
  position: relative;
  width: 100%;
  display: block;
  margin-top: -5px;
}

.dropdownList {
  list-style-type: none;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  gap: 6px;
  margin: 0;
  padding: 8px;
  border: 0.5px solid #f3f3f3;
  border-radius: 8px;
  max-height: 300px;
  overflow-y: auto;
  background-color: white;
  width: 100%;
  z-index: 1;
  box-shadow: 0px 2px 2px 0px #00000026;
  flex-direction: column;
  transition: all 200ms ease-in-out;
  transform-origin: top;
  transform: scaleY(0);
  opacity: 0.5;
}

.container[aria-expanded='true'] .dropdownList,
.container:focus-within .dropdownList {
  transform: scaleY(1);
  opacity: 1;
}

.dropdownList > * {
  flex: 1;
  align-self: unset;
}

.noOptionItem {
  justify-content: center;
  flex: 1;
}

.clearBtn {
  margin-top: 5px;
  align-self: flex-start;
}
