.container {
  background-color: var(--BondBlack);
  text-align: center;
  padding-top: 30px;
}

.header {
  margin: 0 0 80px;
}

.container h2 {
  margin: 0;
}

.grid {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  gap: 56px;
  padding-bottom: 80px;
  flex-wrap: wrap;
}

.image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

.textBox {
  margin: 24px;
  flex: 1 1 auto;
}

.gridItem {
  max-width: 400px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  flex: 1 1 calc(50% - 20px);
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  text-align: center;
}

.icon {
  margin-top: auto;
}

@media (max-width: 800px) {
  .container {
    background-color: var(--BondBlack);
    text-align: center;
  }

  .header {
    margin: 0 0 40px;
  }

  .grid {
    margin: 0px 24px;
    justify-content: center;
    gap: 16px;
    padding-bottom: 40px;
  }

  .container img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
  }

  .gridItem span {
    font-size: 16px;
  }

  .role {
    display: block;
    min-height: 45px;
  }

  .role span {
    font-size: 14px;
  }

  .icon img {
    width: 40px;
    height: 40px;
  }

  .textBox {
    margin: 0px;
  }
}
