.cardLink {
  width: 288px;
  position: relative;
  border-radius: 8px;
  background-color: var(--GhostWhite);
  border: 0.5px solid #070707;
  box-shadow: 0px 1px 20px 0px #0000001f;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  box-sizing: border-box;
  text-decoration: unset;
  color: unset;
}

.cardLink:not([href='']):hover {
  outline: none;
}

.cardLink:not([href='']):hover::after {
  content: '';
  border: 1px solid var(--cherryPie);
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 8px;
  pointer-events: none;
}

.headerImg {
  width: 100%;
  height: 63px;
  border-radius: 8px 8px 0px 0px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--course-y-gap);
  padding: 0px var(--course-x-gap) 15px;
  border-radius: 8px;
}

.content > * {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: calc(var(--course-y-gap) / 2);
}

.institution {
  width: calc(100% + 2 * var(--course-x-gap));
  margin-left: calc(var(--course-x-gap) * -1);
  margin-right: calc(var(--course-x-gap) * -1);
}

.institutionTitle {
  display: flex;
  padding: 8px;
  gap: var(--course-x-gap);
  border-radius: 4px;
  background-color: var(--GhostWhite);
  box-shadow: 0px 2px 16px 0px #0000001f;
  overflow: hidden;
  margin-top: -29px;
}

.institutionTitle > img {
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
  border: 0.3px;
  background-color: var(--cherryPie);
}

.favouriteIcon {
  border: 0;
  margin: calc(-4px - var(--course-y-gap)) var(--course-y-gap) -4px calc(var(
          --course-y-gap
        ) - var(--course-x-gap));
  padding: 4px;
  border-radius: 100%;
  background-color: var(--pure-white);
  display: flex;
  align-items: center;
  align-self: flex-start;
  cursor: pointer;
}

.title {
  padding-bottom: var(--course-y-gap);
  border-bottom: 0.5px solid var(--BondBlackVariant);
}

.timeLocation {
  justify-content: space-between;
}

.timeLocation > * {
  display: flex;
  align-items: center;
  gap: calc(var(--course-x-gap) / 2);
}
