.badgeWrapper {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  justify-content: center;
  gap: 1vh 4vw;
  box-sizing: border-box;
  flex-wrap: wrap;
  margin: 0px auto;
  max-width: min(400px, 80vw);
}

.badgeGroup2 {
  display: flex;
  gap: 4vw;
}

.badgeWrapper img {
  width: min(20vw, 152px);
  height: auto;
}
