.bannerContainer {
  box-sizing: border-box;
  width: 100%;
  padding: 5vw;
  height: 65vh;
  gap: 2.5vw;
  background-image: url('../../images/bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bannerTextAndBadge {
  display: flex;
  justify-content: space-between;
  gap: 2.5vw;
  flex-wrap: wrap;
  max-width: 100%;
}

.textContainer {
  flex: 1;
}

.form > :first-child {
  flex: 1;
}

.bannerContainer + .formMobile {
  display: none;
}

.buttonContainer{
  display: flex;
  justify-content: center;
  width: 300px;
}

@media (max-width: 480px) {
  .bannerContainer {
    flex-direction: column;
  }

  .bannerTextAndBadge {
    flex-direction: column;
  }

  .bannerContainer .form {
    display: none;
  }

  .bannerContainer + .formMobile {
    display: flex;
  }
}
