.container {
  border-radius: 8px;
  border: 1px solid var(--cherryPieSub);
  padding: 24px;
  gap: 24px;
  display: flex;
  flex-direction: column;
}

.container>img {
  width: 100%;
  max-width: 381px;
  height: auto;
}

.level {
  display: flex;
  align-items: center;
  gap: 8px;
}

.slider {
  width: 100%;
  height: 16px;
  background-color: var(--grey-100);
  border-radius: 16px;
  overflow: hidden;
}

.slider>div {
  width: 20%;
  height: 16px;
  background-color: var(--cherryPieSub);
}