.container {
  display: flex;
  gap: 24px;
}

.imageContainer {
  height: 120px;
  width: 120px;
  border-radius: 100%;
  background-color: #E8E4E4;
  position: relative;
}

.imageContainer>img {
  position: absolute;
  right: 12px;
  bottom: 6px;
  cursor: pointer;
}

.editBtn {
  margin-left: auto;
  align-self: center;
}