.container {
  background-color: var(--pure-white);
  border-radius: 8px;
  gap: 1px;
  border: 1px solid var(--grey-4);
  padding: 24px;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: 1px solid var(--grey-100);
  padding-bottom: 24px;
  transition: all 150ms linear;
  gap: 8px;
  align-items: center;
}

.title {
  font-size: 18px;
}

.collapsibleIcon {
  transform-origin: center;
  transition: transform 150ms linear;
  margin-left: auto;
  fill: var(--BondBlack);
  cursor: pointer;
}

.collapsibleIcon:hover {
  opacity: .6;
}

.content {
  padding-top: 24px;
}

.collapsed>.header {
  padding-bottom: 0px;
  border: none;
}

.collapsed .collapsibleIcon {
  transform: rotate(180deg);
}

.collapsed .content {
  display: none;
}