.container {
  composes: container from '../searchForm/searchFormShell.module.css';
}

.buttonContainer {
  composes: buttonContainer from '../searchForm/searchFormShell.module.css';
  align-items: flex-end;
}

.content {
  composes: content from '../searchForm/searchFormShell.module.css';
}

.container.disabled :global(.dropdown-input-wrapper) {
  pointer-events: none;
  opacity: 0.6;
}
